*
{
    margin: 0;
    color:rblack;
}

#red
{
    background:red;
    height: 120px;
    width:120px;
}

#yellow
{
    background:yellow;
    height: 120px;
    width:120px;
}

#green
{
    background:green;
    height: 120px;
    width:120px;
}

#box
{
    display:flex;
}