*
{
    margin:2px;
    color:black;
}

::placeholder
{
    color:white;
    opacity: 1;
}

body
{
    background-color: rgba(29, 43, 105, 0.747);
}

.container
{
    background-color: rgb(52, 41, 61);
    height: 90vh;
    width: 40vw;
    border-radius: 60px 140px 60px 140px;
    margin:20px auto;
    display: flex;
    flex-direction: column;
}

.bill
{
    color: white;
    margin: 40px 0px 0px 40px;
    height: max-content;
    padding: 10px;
    font-size: 20px;  
}
.billinput,.billinput:hover
{
    color: white;
    margin:4px 40px;
    height: max-content;
    padding: 10px;
    font-size: 15px; 
    border: none;
    background-color: rgba(107, 123, 197, 0.747) ;
    outline: none;
    border-radius: 20px;
}
.pep
{
    display: flex;
    /* background-color: aliceblue; */
    width:max-content;
    margin: 0px 40px;
}
.add
{
    width: max-content;
    margin:0px 10px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    background-color: rgba(107, 123, 197, 0.747);
}
.res
{
    font-size: 20px;
    color: white;
    /* background-color: brown; */
    /* margin-left: 200px;   */
    position: relative;
    top:-35px;
    left: 40px;
}
.result
{
    width: max-content;
    /* margin-left: 360px; */
    position: relative;
    top:-30px;
    left:200px;
    font-size: 30px;
    color: white;
}